<script type="text/javascript">
    $(".partials").i18n();
</script>

<div class="row">
    <div class="large-12 small-12 columns">
        <div class="container" style="text-align: center;margin-top: 100px;">
            <h2> 404 </h2> 
            <br/>
            <br/>
            <div class="description" data-i18n="pages.notfounddesc"></div>
            <br>

            <br>
            <a class="button primary " href="#" type="button" data-i18n="pages.notfoundlink"></a>
        </div>
    </div>

</div>
