 
<script type="text/javascript">
$(".partials").i18n();
</script>
 
 <div class="row">
	   <div class="large-12 small-12 columns">
        <div class="block info">
          <div class="block-title no-border">
            <h4 data-i18n="headers.highchart"></h4>
           
          </div>
          <div class="block-body no-border">
            <div class="row spacing-bottom">
            <div class="large-12 small-12 columns" data-i18n="[html]pages.hightlightsText"></div> 
            </div>  
            <div class="row">
                <span class="label label-info" data-i18n="headers.votes" ></span>
                <div id="votes-chart"> </div>
                <br/>
               <span class="label label-info" data-i18n="headers.turnout"></span>
             <div id="turnout-chart"> </div>    
            </div>
          </div>
        </div>
        </div>
</div>
   
