 
<img class="bg"  src="assets/img/home.jpg" />
<div class="slider-container colums small-12 large-8">
<ul class="home-slider">
  <li><h2 class="slider-title spacing-bottom" data-i18n="slides.slideonetitle"></h2> <h4 class="slider-desc" data-i18n="[html]slides.slideonesub"> </h4>	</li>
  <li><h2 class="slider-title spacing-bottom" data-i18n="slides.slidetwotitle"></h2> <h4 class="slider-desc" data-i18n="[html]slides.slidetwosub"> </h4></li>
  <li><h2 class="slider-title spacing-bottom" data-i18n="slides.slidethreetitle"></h2> <h4 class="slider-desc" data-i18n="[html]slides.slidethreesub"> </h4></li>
</ul>
</div>

<a href="https://www.flickr.com/photos/ahmadhammoudphotography/5409762481/" target="_blank" data-i18n="slides.photocredit" class="slider-credit"> </a>
<script type="text/javascript">
$('.home-slider').bxSlider({
    auto:true,
    pager:false,
    controls:false,
    pause:6000
});
 setTimeout(function() {
	  $(".partials").i18n();

  }, 300);    
</script>
