<div class="row">
    <div class="large-6 small-12 columns">
        <div class="block info ">
            <div class="block-title">
                <h4 data-i18n="headers.yesnovotes"></h4>

            </div>
            <div class="block-body chart-container">
                <div class="large-6 small-6 columns">
                    <div data-percent="{{current.yesp}}" class="yes-pie easy-chart">
                        <div class="value text-center">
                            <img src="./assets/img/yes.png" height="32px" width="32px" />
                            <br/>
                            <h3>{{current.yesp}}%</h3>
                        </div>
                    </div>
                    <h5 class="l-10">{{current.Yes}}<span class="semi-bold" data-i18n="headers.votes"> </span></h5> 
                </div>
                <div class="large-6 small-6 columns">
                    <div data-percent="{{current.nop}}" class="no-pie easy-chart">
                        <div class="value text-center">
                            <img src="./assets/img/no.png" height="32px" width="32px" />
                            <br/>
                            <h3>{{current.nop}}%</h3>
                        </div>

                    </div>
                    <h5 class="l-10">{{current.No}}<span class="semi-bold" data-i18n="headers.votes"></span></h5> 
                </div>
            </div>
        </div>
    </div>
    <div class="large-6 small-12 columns">
        <div class="block info">
            <div class="block-title no-border">
                <h4 data-i18n="headers.aboutdata"></h4></h4>

            </div>
            <div class="block-body no-border" style="min-height: 275px;">

                <div class="row-fluid">
                    <div>

                        <div data-i18n="[html]texts.referendum12about"></div>
                        <div class="data-zone">
                            <h4 data-i18n="headers.doanloaddata"></h4>
                            <a href="./data/ref/details/{{district}}.csv" data-i18n="buttons.rawcsv" download="{{district}}.csv" target="_blank" class="expand secondary button "><i class="fa fa-download"></i>&nbsp;&nbsp; </a> 
                            <br/>
                            <a href="https://github.com/fwelections/eg-data/raw/master/referendum2012/xls/{{district}}.xls" data-i18n="buttons.rawxls" download="{{district}}.xls" target="_blank" class="expand primary button"><i class="fa fa-download"></i>&nbsp;&nbsp;</a> 

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- DATA TABLE -->
<div class="row">
    <div class="large-12 small-12 columns">
        <div class="block info ">
            <div class="block-title">
                <h4 data-i18n="headers.fullresults"></h4>
            </div>
            <div class="block-body overflow-x">
                <table cellpadding="0" cellspacing="0" border="0" class="table " id="table-full" width="100%">
                    <thead>
                        <tr>
                            <th data-i18n="data.tableHeader.districtname"></th>
                            <th data-i18n="data.tableHeader.eligibleVoters"></th>
                            <th data-i18n="data.tableHeader.validVotes"></th>
                            <th data-i18n="data.tableHeader.invalidVotes"></th>
                            <th data-i18n="data.tableHeader.turnout"></th>
                            <th data-i18n="data.tableHeader.yes"></th>
                            <th data-i18n="data.tableHeader.yesp"></th>
                            <th data-i18n="data.tableHeader.no"></th>
                            <th data-i18n="data.tableHeader.nop"></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr class="odd gradeX" ng-repeat="result in results">
                            <td class="dname-ar">{{result.district_name}}</td>
                            <td class="dname-en">{{result.district_name_en}}</td>
                            <td>{{result.Voters}}</td>
                            <td>{{result.Valid}}</td>
                            <td class="center">{{result.Invalid}}</td>
                            <td class="center">{{result.Percentage}}%</td>
                            <td class="center">{{result.Yes}}</td>
                            <td class="center">{{result.yesp}}%</td>
                            <td class="center">{{result.No}}</td>
                            <td class="center">{{result.nop}}%</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- END DATA TABLE -->
</div>
</div>
</div>
