<div class="row">
    <div class="large-3 small-6 columns">
        <div class="block white">
            <div class="block-body">
                <div class="block-title" data-i18n="headers.eligible"></div>
                <div class="heading">
                    <span class="animate-number" data-value="{{current.Voters}}" data-animation-duration="1200">0</span>	
                </div>
                <div class="progress transparent progress-small no-radius">
                    <div class="progress-bar  animate-progress-bar" data-percentage="100%"></div>
                </div>
                <div class="description"><span class="mini-description"><span  data-i18n="headers.total"></span><span class="blend">50,403,717</span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="large-3 small-6 columns">
        <div class="block white  ">
            <div class="block-body">

                <div class="block-title" data-i18n="headers.valid">
                </div>
                <div class="heading">
                    <span class="animate-number" data-value="{{current.Valid}}" data-animation-duration="1000">0</span>	
                </div>
                <div class="progress transparent progress-small no-radius">
                    <div class="progress-bar  animate-progress-bar" data-percentage="{{current.Validp}}%"></div>
                </div>
                <div class="description"><span class="mini-description"><span  data-i18n="headers.total"></span><span class="blend">23,265,516</span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="large-3 small-6 columns">
        <div class="block white  ">
            <div class="block-body">

                <div class="block-title" data-i18n="headers.invalid">
                </div>
                <div class="heading">
                    <span class="animate-number" data-value="{{current.Invalid}}" data-animation-duration="1200">0</span>	
                </div>
                <div class="progress transparent progress-white progress-small no-radius">
                    <div class="progress-bar  animate-progress-bar" data-percentage="{{current.Invalidp}}%"></div>
                </div>
                <div class="description"><span class="mini-description"><span  data-i18n="headers.total"></span><span class="blend">406,720</span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="large-3 small-6 columns">
        <div class="block">
            <div class="block-body">

                <div class="block-title" data-i18n="headers.turnout">
                </div>
                <div class="heading">
                    <span class="animate-number" data-value="{{current.Percentage}}" data-animation-duration="700">0</span>	
                </div>
                <div class="progress transparent progress-white progress-small no-radius">
                    <div class="progress-bar  animate-progress-bar" data-percentage="{{current.Percentage}}"></div>
                </div>
                <div class="description"><span class="mini-description"><span  data-i18n="headers.total"></span><span class="blend">47%</span></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <!--MIDDLE ZONE  -->
    <div class="large-4 small-12 columns">


        <div class="block info" style="height:419px">
            <div class="block-body">
                <div class="heading" id="block_map_heading" data-i18n="data.districts.{{district}}">
                    Egypt
                </div>
                <div class="description" data-i18n="headers.winners"></div>
                <ul class="progress-list">
                    <li id="first-winner">
                        <div class="details-wrapper">
                            <div class="name"><span id="first-winner-name" data-i18n=""></span> 
                            </div>
                            <div class="description">{{summary[0].value}}</div>
                        </div>
                        <div class="details-status pull-right">
                            <span class="animate-number" data-value="{{summary[0].percentage}}" data-animation-duration="800">0</span>%
                        </div>
                        <div class="clearfix"></div>
                        <div class="progress progress-small no-radius">
                            <div class="progress-bar progress-bar-success animate-progress-bar" data-percentage="{{summary[0].percentage}}%"></div>
                        </div>
                    </li>
                    <li>
                        <div class="details-wrapper">
                            <div class="name"><span id="second-winner-name" data-i18n=""></span>
                            </div>
                            <div class="description">{{summary[1].value}}</div>
                        </div>
                        <div class="details-status pull-right">
                            <span class="animate-number" data-value="{{summary[1].percentage}}" data-animation-duration="600">0</span>%
                        </div>
                        <div class="clearfix"></div>
                        <div class="progress progress-small no-radius ">
                            <div class="progress-bar progress-bar-warning animate-progress-bar" data-percentage="{{summary[1].percentage}}%"></div>
                        </div>
                    </li>

                </ul>
            </div>


        </div>





    </div>
    <div class="large-8 small-12 columns">
        <div class="block info ">
            <div class="block-title no-border">
                <h4 data-i18n="headers.aboutdata"></h4>

            </div>
            <div class="block-body no-border" style="min-height: 275px;">

                <div class="row-fluid">
                    <div>

                        <div data-i18n="[html]texts.round1detailsabout"></div>
                        <div class="data-zone">
                            <h4 data-i18n="headers.downloaddata"></h4>
                            <a href="./data/pround1/details/{{district}}.csv" download="{{district}}.csv" target="_blank" class="expand secondary button" style="width:50% !important" data-i18n="buttons.rawcsv"><i class="fa fa-download"></i>&nbsp;&nbsp; </a> 
                            <br/>
                            <a href="https://github.com/fwelections/eg-data/raw/master/Presidential%202012%20Rnd1/xls/{{district}}.xls" download="{{district}}.csv" target="_blank" class="expand primary button" style="width:50% !important" data-i18n="buttons.rawxls"><i class="fa fa-download"></i>&nbsp;&nbsp; </a> 

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- END MIDDLE ZONE-->
</div>
</div>
<div class="row">
    <div class="large-12 small-12 columns">
        <div class="block info ">
            <div class="block-title">
                <h4 data-i18n="headers.fullresults"></h4>
            </div>
            <div class="block-body overflow-x">
                <table cellpadding="0" cellspacing="0" border="0" class="table " id="table-full" width="100%">
                    <thead>
                        <tr>
                            <th data-i18n="data.tableHeader.districtname"></th>
                            <th data-i18n="data.tableHeader.eligibleVoters"></th>
                            <th data-i18n="data.tableHeader.validVotes"></th>
                            <th data-i18n="data.tableHeader.invalidVotes"></th>
                            <th data-i18n="data.tableHeader.turnout"></th>
                            <th data-i18n="candidates.C1"></th>
                            <th data-i18n="candidates.C2"></th>
                            <th data-i18n="candidates.C3"></th>
                            <th data-i18n="candidates.C4"></th>
                            <th data-i18n="candidates.C5"></th>
                            <th data-i18n="candidates.C6"></th>
                            <th data-i18n="candidates.C7"></th>
                            <th data-i18n="candidates.C8"></th>
                            <th data-i18n="candidates.C9"></th>
                            <th data-i18n="candidates.C10"></th>
                            <th data-i18n="candidates.C11"></th>
                            <th data-i18n="candidates.C12"></th>
                            <th data-i18n="candidates.C13"></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr class="odd gradeX" ng-repeat="result in results">
                            <td class="dname-ar">{{result.district_name}}</td>
                            <td class="dname-en">{{result.district_name_en}}</td>
                            <td>{{result.Voters}}</td>
                            <td>{{result.Valid}}</td>
                            <td class="center">{{result.Invalid}}</td>
                            <td class="center">{{result.Percentage}}</td>
                            <td class="center">{{result.C1}}</td>
                            <td class="center">{{result.C2}}</td>
                            <td class="center">{{result.C3}}</td>
                            <td class="center">{{result.C4}}</td>
                            <td class="center">{{result.C5}}</td>
                            <td class="center">{{result.C6}}</td>
                            <td class="center">{{result.C7}}</td>
                            <td class="center">{{result.C8}}</td>
                            <td class="center">{{result.C9}}</td>
                            <td class="center">{{result.C10}}</td>
                            <td class="center">{{result.C11}}</td>
                            <td class="center">{{result.C12}}</td>
                            <td class="center">{{result.C13}}</td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
 