<div class="row spacing-bottom ">
<!-- tile start -->
<div class="large-3 small-6  columns">
			<div class="panel-3d">
				<div class="front">
					<div class="cards text-center">
						<div class="cards-body padding-none single-colored-cards">
							<div>
								<div class="content-wrapper blue">
                                    <p class="text-white" data-i18n="headers.eligible"> </p>
                                <h3 class="text-white"> <span class=" semi-bold">{{current.Voters}}</span></h3>
                                  
                               
          
                                </div>
								<div class="innerAll">
									<button class="btn btn-success"data-i18n="buttons.variation"></button>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="back">
					<div class="cards cards-inverse cards-scroll" data-scroll-height="165px">
						 
						 
                        <!--Hello there  -->
                        
                        <div class="block info vertical">
 							<div class="block-title no-border">
								<span data-i18n="headers.rounds"></span>
								<div class="tools">
									<a class="remove" href="javascript:;"></a>
								</div>
							</div>
							<div class="block-body no-border text-center  medium-padding">
							<div class="row-fluid">
								 <h4 class="center card-text">  {{current.Voters_r1}}<i class="fa fa-arrows-h"></i>{{current.Voters}}</h4>
                                
								</div>
                            <div class="color-bands blue full-band"> </div>
                             <span data-i18n="headers.variation" class="card-text"></span> :  <span class="semi-bold card-text">{{current.Voter_variation}}</span>

							</div>
						</div>
                          
					</div>
				</div>
			</div>
		</div>
<!-- tile end  -->
<!-- tile start -->
<div class="large-3 small-6  columns">
			<div class="panel-3d">
				<div class="front">

					<div class="cards text-center">
						<div class="cards-body padding-none single-colored-cards ">
							<div>
								<div class="content-wrapper green">
                                    <p class="text-white" data-i18n="headers.valid"></p>
                                <h3 class="text-white"> <span class="semi-bold">{{current.Valid}}</span></h3>
                                  
                               
          
                                </div>
								<div class="innerAll">
									<button class="btn btn-primary"data-i18n="buttons.variation"></button>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="back">
					<div class="cards cards-inverse cards-scroll" data-scroll-height="165px">
						 
						 
                        <!--Hello there  -->
                        
                        <div class="block info vertical">
							<div class="block-title no-border">
								<span data-i18n="headers.rounds"></span>
								<div class="tools">
									<a class="remove" href="javascript:;"></a>
								</div>
							</div>
							<div class="block-body no-border text-center  medium-padding">
							<div class="row-fluid">
								 <h4 class="center card-text">  {{current.Valid_r1}}<i class="fa fa-arrows-h"></i>{{current.Valid}}</h4>
                                
								</div>
                            <div class="color-bands green full-band"> </div>
                             <span data-i18n="headers.variation" class="card-text"></span> :  <span class="semi-bold card-text">{{current.valid_variation}}</span> 

							</div>
						</div>
                          
					</div>
				</div>
			</div>
		</div>
<!-- tile end  -->    
<!-- tile start -->
<div class="large-3 small-6  columns">
			<div class="panel-3d">
				<div class="front">

					<div class="cards text-center">
						<div class="cards-body padding-none single-colored-cards ">
							<div>
								<div class="content-wrapper red">
                                    <p class="text-white" data-i18n="headers.invalid"></p>
                                <h3 class="text-white"> <span class="semi-bold">{{current.Invalid}}</span></h3>
                                  
                               
          
                                </div>
								<div class="innerAll">
									<button class="btn btn-danger" data-i18n="buttons.variation"></button>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="back">
					<div class="cards cards-inverse cards-scroll" data-scroll-height="165px">
						 
						 
                        <!--Hello there  -->
                        
                        <div class="block info vertical">
							<div class="block-title no-border">
								<span data-i18n="headers.rounds"></span>
								<div class="tools">
									<a class="remove" href="javascript:;"></a>
								</div>
							</div>
							<div class="block-body no-border text-center  medium-padding">
							<div class="row-fluid">
								  <h4 class="center card-text">   {{current.Invalid_r1}}<i class="fa fa-arrows-h"></i> {{current.Invalid}}</h4>
							
                                
								</div>
                            <div class="color-bands red full-band"> </div>
                              <span data-i18n="headers.variation" class="card-text"></span> :  <span class="semi-bold card-text">{{current.invalid_variation}}</span> 

							</div>
						</div>
                          
					</div>
				</div>
			</div>
		</div>

<div class="large-3 small-6  columns">
			<div class="panel-3d">
				<div class="front">

					<div class="cards text-center">
						<div class="cards-body padding-none single-colored-cards ">
							<div>
								<div class="content-wrapper purple">
                                    <p class="text-white" data-i18n="headers.turnout"></p>
                                <h3 class="text-white"> <span class="semi-bold">{{current.Percentage}}%</span></h3>
                                  
                               
          
                                </div>
								<div class="innerAll">
									<button class="btn btn-purple" data-i18n="buttons.variation"></button>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="back">
					<div class="cards cards-inverse cards-scroll" data-scroll-height="165px">
						 
						 
                        <!--Hello there  -->
                        
                        <div class="block info vertical">
							<div class="block-title no-border">
								<span data-i18n="headers.rounds"></span>
								<div class="tools">
									<a class="remove" href="javascript:;"></a>
								</div>
							</div>
							<div class="block-body no-border text-center  medium-padding">
							<div class="row-fluid">
								 <h4 class="center card-text">  {{current.Percentage_r1}}%<i class="fa fa-arrows-h"></i>{{current.Percentage}}%</h4>
                                
								</div>
                            <div class="color-bands purple full-band"> </div>
                              <span data-i18n="headers.variation" class="card-text"></span> :  <span class="semi-bold card-text">{{current.turnout_variation}}%</span> 

							</div>
						</div>
                          
					</div>
				</div>
			</div>
		</div>
<!-- tile end  -->    
</div>
<!-- middle here   -->  
<div class="row">
<div class="large-7 small-12  columns">
<div class="block info ">
    <div class="block-title no-border">
	 <h4 data-i18n="headers.winners"></h4>
								 
							</div>
     <div class="block-body no-border" style="min-height: 275px;">
        <div class="row spacing-bottom">
         <div class="large-4 small-12  columns pull-left">
                                   
                                   <h5 data-i18n="headers.round1voters"></h5>
									<h3 class="text-success semi-bold">
									{{current.C13_r1}}
									</h3>
									
                                    <h5 data-i18n="headers.round2voters"></h5>
									<h3 class="text-success semi-bold">
									{{current.C13}}
									</h3>
									
								</div>	
                               <div class="large-8 small-12  columns">
                                <h3 data-i18n="candidates.C13" ></h3>
    
                              <p  data-i18n="[html]texts.morsi" ></p>

						<div class="clearfix"></div>
					 
						</div>
         
        </div> 
         <div class="row spacing-bottom">
         <div class="large-4 small-12  columns pull-left">
                                   
                                   <h5 data-i18n="headers.round1voters"></h5>
									<h3 class="text-success semi-bold">
									{{current.C9_r1}}
									</h3>
									
                                    <h5 data-i18n="headers.round2voters"></h5>
									<h3 class="text-success semi-bold">
									{{current.C9}}
									</h3>
									
								</div>	
                               <div class="large-8 small-12  columns">
                              <h3 data-i18n="candidates.C9" ></h3>
   
                              <p  data-i18n="[html]texts.shafik" ></p>
                              
						<div class="clearfix"></div>
					 
						</div>
         
        </div> 
 
    
    
    
    </div>
 </div>
</div>
<div class="large-5 small-12  columns">
<div class="block info ">
							<div class="block-title no-border">
								<h4 data-i18n="headers.aboutdata"></h4>
								 
							</div>
							<div class="block-body no-border" style="min-height: 275px;">

                           <div class="row-fluid">
								<div>
								
                                    <p data-i18n="[html]texts.round2detailabout"> </p>
								     <div class="data-zone"><h4 data-i18n="headers.doanloaddata"></h4>
                                    <a href="./data/pround2/details/{{district}}.csv"  download="{{district}}.csv" target="_blank" class="expand secondary button" style="width:50% !important" data-i18n="buttons.rawcsv"><i class="fa fa-download"></i>&nbsp;&nbsp; </a>  <br/>
                                                  <a href="https://raw2.github.com/fwelections/eg-data/master/Presidential%202012%20Rnd2/xls/{{district}}.xls" data-i18n="buttons.rawxls"  download="{{district}}.csv" target="_blank" class="expand primary button" style="width:50% !important"><i class="fa fa-download"></i>&nbsp;&nbsp; </a>  
        
                                    </div>
								</div>
								</div>
                                
							</div>
						</div>
</div>
</div>
 <div class="row">
	   <div class="large-12 small-12  columns">
        <div class="block info">
          <div class="block-title no-border">
            <h4 data-i18n="headers.pchart2"></h4>
           
          </div>
          <div class="block-body no-border">
               <div class="row">
                <span class="label label-info" data-i18n="buttons.round2"></span>
                <div id="round2-chart"> </div>
                 
            </div>
          </div>
        </div>
        </div>
      </div>
<!-- DATA TABLE -->
    <div class="row">
        <div class="large-12 small-12  columns">
          <div class="block info ">
            <div class="block-title">
              <h4 data-i18n="headers.fullresults"></h4>
              <div class="tools"> <a href="javascript:;" class="collapse"></a> </div>
            </div>
            <div class="block-body overflow-x">
               <table cellpadding="0" cellspacing="0" border="0" class="table " id="table-full" width="100%" >
                <thead>
                  <tr>
                    <th data-i18n="data.tableHeader.districtname"></th>
                    <th data-i18n="data.tableHeader.eligibleVoters"></th>
                    <th data-i18n="data.tableHeader.validVotes"></th>
                    <th data-i18n="data.tableHeader.invalidVotes"></th>
                    <th data-i18n="data.tableHeader.turnout"></th>   
                    <th data-i18n="candidates.C9"></th>
                    <th data-i18n="data.tableHeader.C9p"></th>   
                    <th data-i18n="candidates.C13"></th>
                    <th data-i18n="data.tableHeader.C13p"></th>   
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd gradeX" ng-repeat="result in results">
                    <td class="dname-ar">{{result.district_name}}</td>
                    <td class="dname-en">{{result.district_name_en}}</td>
                    <td>{{result.Voters}}</td>
                    <td>{{result.Valid}}</td>
                    <td class="center"> {{result.Invalid}}</td>
                    <td class="center">{{result.Percentage}}%</td>
                        <td class="center">{{result.C9}}</td>
                         <td class="center">{{result.C9p}}</td>
                        <td class="center">{{result.C13}}</td>
                         <td class="center">{{result.C13p}}</td>
                       
                    </tr>
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
<!-- END DATA TABLE -->
<script type="text/javascript">
 
 setTimeout(function() {
         $('.panel-3d').find('.front .btn').on('click', function(){
			$(this).closest('.panel-3d').addClass('panel-flip');
		}).end()
		.find('.back .remove').on('click', function(){
			$(this).closest('.panel-3d').removeClass('panel-flip');
		});
     	 	
 		$('.panel-3d')
		.addClass('flip-default')
		.each(function(i){
			var t = $(this);
			setTimeout(function(){
				t.css('visibility', 'visible').addClass('animated fadeInLeft');
			}, (i+1)*300);
			setTimeout(function(){
				t.removeClass('flip-default fadeInLeft');
				setTimeout(function(){
					t.find('[class*="icon-"]').css('visibility', 'visible').addClass('animated fadeInDown');
				}, (i+1)*200);
			}, (i+1)*800);
		});
  }, 400);
       setTimeout(function() {
             if (i18n.detectLanguage()=='ar') {
            $('.dname-en').hide();
          }
        else {
            
             $('.dname-ar').hide();
        }  
	  $(".partials").i18n();

  }, 600);
   
 </script>