<div class="row spacing-bottom ">
    <!-- tile start -->
    <div class="large-3 small-6  columns">
        <div class="panel-3d">
            <div class="front">
                <div class="cards text-center">
                    <div class="cards-body padding-none single-colored-cards">
                        <div>
                            <div class="content-wrapper blue">
                                <p class="text-white" data-i18n="headers.eligible"></p>
                                <h3 class="text-white"> <span class=" semi-bold">{{results[28].Voters}}</span></h3>



                            </div>
                            <div class="innerAll">
                                <button class="btn bblue" data-i18n="buttons.variation"></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="back">
                <div class="cards cards-inverse cards-scroll" data-scroll-height="165px">


                    <!--Hello there  -->

                    <div class="block info vertical">
                        <div class="block-title no-border">
                            <span data-i18n="headers.rounds"></span>
                            <div class="tools">
                                <a class="remove" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="block-body no-border text-center  medium-padding">
                            <div class="row-fluid">
                                <h4 class="center card-text">  {{results[28].Voters_r1}}<i class="fa fa-arrows-h"></i>{{results[28].Voters}}</h4>

                            </div>
                            <div class="color-bands blue full-band"></div>
                            <span data-i18n="headers.variation" class="card-text"></span> : <span class="semi-bold card-text">{{results[28].Voter_variation}}</span>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- tile end  -->
    <!-- tile start -->
    <div class="large-3 small-6  columns">
        <div class="panel-3d">
            <div class="front">

                <div class="cards text-center">
                    <div class="cards-body padding-none single-colored-cards ">
                        <div>
                            <div class="content-wrapper green">
                                <p class="text-white" data-i18n="headers.valid"></p>
                                <h3 class="text-white"> <span class="semi-bold">{{results[28].Valid}}</span></h3>



                            </div>
                            <div class="innerAll">
                                <button class="btn bgreen" data-i18n="buttons.variation"></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="back">
                <div class="cards cards-inverse cards-scroll" data-scroll-height="165px">


                    <!--Hello there  -->

                    <div class="block info vertical">
                        <div class="block-title no-border">
                            <span data-i18n="headers.rounds"></span>
                            <div class="tools">
                                <a class="remove" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="block-body no-border text-center  medium-padding">
                            <div class="row-fluid">
                                <h4 class="center card-text">  {{results[28].Valid_r1}}<i class="fa fa-arrows-h"></i>{{results[28].Valid}}</h4>

                            </div>
                            <div class="color-bands green full-band"></div>
                            <span data-i18n="headers.variation" class="card-text"></span> : <span class="semi-bold card-text">{{results[28].valid_variation}}</span> 

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- tile end  -->
    <!-- tile start -->
    <div class="large-3 small-6  columns">
        <div class="panel-3d">
            <div class="front">

                <div class="cards text-center">
                    <div class="cards-body padding-none single-colored-cards ">
                        <div>
                            <div class="content-wrapper red">
                                <p class="text-white" data-i18n="headers.invalid"></p>
                                <h3 class="text-white"> <span class="semi-bold">{{results[28].Invalid}}</span></h3>



                            </div>
                            <div class="innerAll">
                                <button class="btn bred" data-i18n="buttons.variation"></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="back">
                <div class="cards cards-inverse cards-scroll" data-scroll-height="165px">


                    <!--Hello there  -->

                    <div class="block info vertical">
                        <div class="block-title no-border">
                            <span data-i18n="headers.rounds"></span>
                            <div class="tools">
                                <a class="remove" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="block-body no-border text-center  medium-padding">
                            <div class="row-fluid">
                                <h4 class="center card-text">   {{results[28].Invalid_r1}}<i class="fa fa-arrows-h"></i> {{results[28].Invalid}}</h4>


                            </div>
                            <div class="color-bands red full-band"></div>
                            <span data-i18n="headers.variation" class="card-text"></span> : <span class="semi-bold card-text">{{results[28].invalid_variation}}</span> 

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="large-3 small-6  columns">
        <div class="panel-3d">
            <div class="front">

                <div class="cards text-center">
                    <div class="cards-body padding-none single-colored-cards ">
                        <div>
                            <div class="content-wrapper purple">
                                <p class="text-white" data-i18n="headers.turnout"></p>
                                <h3 class="text-white"> <span class="semi-bold">{{results[28].Percentage}}%</span></h3>



                            </div>
                            <div class="innerAll">
                                <button class="btn bpurple" data-i18n="buttons.variation"></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="back">
                <div class="cards cards-inverse cards-scroll" data-scroll-height="165px">


                    <!--Hello there  -->

                    <div class="block info vertical">
                        <div class="block-title no-border">
                            <span data-i18n="headers.rounds"></span>
                            <div class="tools">
                                <a class="remove" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="block-body no-border text-center  medium-padding">
                            <div class="row-fluid">
                                <h4 class="center card-text">  {{results[28].Percentage_r1}}%<i class="fa fa-arrows-h"></i>{{results[28].Percentage}}%</h4>

                            </div>
                            <div class="color-bands purple full-band"></div>
                            <span data-i18n="headers.variation" class="card-text"></span> : <span class="semi-bold card-text">{{results[28].turnout_variation}}%</span> 

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- tile end  -->
</div>
<!-- middle here   -->
<div class="row">
    <div class="large-7 small-12  columns">
        <div class="block info ">
            <div class="block-title no-border">
                <h4 data-i18n="headers.winners"></h4>

            </div>
            <div class="block-body no-border" style="min-height: 275px;">
                <div class="row spacing-bottom">
                    <div class="large-4 small-12  columns pull-left">

                        <h5 data-i18n="headers.round1voters"></h5>
                        <h3 class="text-success semi-bold">
									{{results[28].C13_r1}}
									</h3>

                        <h5 data-i18n="headers.round2voters"></h5>
                        <h3 class="text-success semi-bold">
									{{results[28].C13}}
									</h3>

                    </div>
                    <div class="large-8 small-12  columns">
                        <h3 data-i18n="candidates.C13"></h3>

                        <p data-i18n="[html]texts.morsi"></p>

                        <div class="clearfix"></div>

                    </div>

                </div>
                <div class="row spacing-bottom">
                    <div class="large-4 small-12  columns pull-left">

                        <h5 data-i18n="headers.round1voters"></h5>
                        <h3 class="text-success semi-bold">
									{{results[28].C9_r1}}
									</h3>

                        <h5 data-i18n="headers.round2voters"></h5>
                        <h3 class="text-success semi-bold">
									{{results[28].C9}}
									</h3>

                    </div>
                    <div class="large-8 small-12  columns">
                        <h3 data-i18n="candidates.C9"></h3>

                        <p data-i18n="[html]texts.shafik"></p>

                        <div class="clearfix"></div>

                    </div>

                </div>




            </div>
        </div>
    </div>
    <div class="large-5 small-12  columns">
        <div class="block info ">
            <div class="block-title no-border">
                <h4 data-i18n="headers.aboutdata"></h4>

            </div>
            <div class="block-body no-border" style="min-height: 275px;">

                <div class="row-fluid">
                    <div>

                        <div data-i18n="[html]texts.round2about"></div>
                        <div class="data-zone">
                            <h4 data-i18n="headers.downloaddata"></h4>
                            <a href="./data/pround2/EG.csv" download="EG.csv" data-i18n="buttons.rawcsv" target="_blank" class="expand secondary button"><i class="fa fa-map-download"></i>&nbsp;&nbsp;  </a>
                            <br/>
                            <a href="./data/pround2/all.csv" download="2012EP.csv" target="_blank" class="expand primary button " data-i18n="buttons.formattedcsv"><i class="fa fa-paste"></i>&nbsp;&nbsp;  </a> 
                            <br/>
                            <a href="https://raw2.github.com/fwelections/egyptelectiondata/d2e53b4801fcef8eb306d7b72425b93823956b1f/data/pround2/combined_data.xlsx" download="2012EP.xlsx" target="_blank" class="expand alert button" data-i18n="buttons.formattedxls"><i class="fa fa-download"></i>&nbsp;&nbsp;  </a> 
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 small-12  columns">
        <div class="block info">
            <div class="block-title no-border">
                <h4 data-i18n="headers.pchart"></h4>

            </div>
            <div class="block-body no-border">
                <div class="row">
                    <span class="label label-info" data-i18n="buttons.round2"></span>
                    <div id="round2-chart"></div>
                    <br/>
                    <span class="label label-info" data-i18n="buttons.round1"></span>
                    <div id="round1-chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- DATA TABLE -->
<div class="row">
    <div class="large-12 small-12  columns">
        <div class="block info ">
            <div class="block-title">
                <h4 data-i18n="headers.fullresults"></h4>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="block-body overflow-x">
                <table cellpadding="0" cellspacing="0" border="0" class="table " id="table-full" width="100%">
                    <thead>
                        <tr>
                            <th data-i18n="data.tableHeader.districtname"></th>
                            <th data-i18n="data.tableHeader.eligibleVoters"></th>
                            <th data-i18n="data.tableHeader.validVotes"></th>
                            <th data-i18n="data.tableHeader.invalidVotes"></th>
                            <th data-i18n="data.tableHeader.turnout"></th>
                            <th data-i18n="candidates.C9"></th>
                            <th data-i18n="candidates.C13"></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr class="odd gradeX" ng-repeat="result in results">
                            <td>
                                <a href="#/presidential2012/round2/{{result.did}}" data-i18n="data.districts.{{result.did}}"></a>
                            </td>
                            <td>{{result.Voters}}</td>
                            <td>{{result.Valid}}</td>
                            <td class="center">{{result.Invalid}}</td>
                            <td class="center">{{result.Percentage}}%</td>
                            <td class="center">{{result.C9}}</td>
                            <td class="center">{{result.C13}}</td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
