body {
    color: #6F7B8A;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    
}
a {
  text-shadow: none !important;
  color: #0b9c8f;
  transition: color 0.1s linear 0s,background-color 0.1s linear 0s  !important;
}

a,a:focus, a:hover, a:active {
  outline: 0;
  text-decoration:none;
    cursor:pointer;
  
}
table {
background: white;
margin-bottom: 1.25rem;
border:0;
}
h1, h2, h3, h4, h5, h6 {
    color: #505458;
    font-family: 'Open Sans';
    font-weight: 300;
}
p {
    font-size:	13px;
    font-weight:	400;
    font-style	:normal;
    color	:#6F7B8A;
    line-height	:19.5px;

}
ul, ol, dl {
font-size: 13px;
list-style-position: outside;
font-family: inherit;
}
h4 {
    line-height: 22px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	padding:12px;     
}

.table td{
	border-top: 1px solid #e8edf1;
	vertical-align: top;
	 padding: 10px 12px !important;
	color:#576475;
	font-size:13px;
    background-color:#FFFFFF;
}
.table > tbody > tr > td, .table > tfoot > tr > td{
	 border-top: 1px solid #E8EDF1;
}

table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td{
    padding: 0.5rem 0.625rem 0.625rem;
    font-size: 13px;
    font-weight: 600;
    color: #576475;
    text-align: left;
    background-color: #FFFFFF;
}

section.partials {
width: 100%;
margin-top: 60px;
}
.logo {
    margin-right:20px;
}

.semi-bold {
    font-weight: 600;
}
.block  .block-title{
	font-size:10.5px;
	font-family: 'Open Sans';
	letter-spacing:0.5px;
	font-weight:600;
}
.block-title h4 {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 7px;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60%;
}
.block .block-body{
	padding: 19px 18px 15px 24px;
}
.block .heading{
  font-size:25px;
  display:block;
  font-family: 'Open Sans';
  font-weight:600;
  margin:10px 0px;
}
.block p{
	margin: 0 0 5px;
}

.block > .block-body > .description{
	font-size:12px;
	display:block;
    color:#8B91A0;
 	 display: table-cell; 
	vertical-align: middle; 
	-webkit-font-smoothing:antialiased;
}

.block .description  i{
	font-size:21px;
	color:#fff;
}
.block  .description .mini-description{
	position:relative;
	top:0px;
}
.block .progress{
   width:70%;
}
.block label{
	color:#fff;
}
.block .progress{
	margin-bottom: 15px;
}

.block.added-margin{	
	 margin-right:-10px;
}
.progress-bar {
  float: left;
  border-radius: 3px;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  box-shadow:none;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
       -o-transition: width .6s ease;
          transition: width .6s ease;
}
.progress{
	height: 12px;
	background-color:#ebeef1;
	background-image:none;
	box-shadow:none;
    overflow:hidden;
    padding:0px ;   
}
.progress.no-radius{
	border-radius:0px;
}
.progress.no-radius .progress-bar{
	border-radius:0px;
}
.progress.transparent{
	background-color:rgba(0, 0, 0, 0.28);
}
.progress.progress-small{
	height: 6px;
}
ul.progress-list{
	list-style:none;	
	margin:40px 5px 23px 0;
	padding: 0;
}
ul.progress-list li .details-wrapper{
	display:inline-block;
	float:left;

}

ul.progress-list li .details-wrapper .name{
	display:block;
	color:#000;
	font-size:13px
}

ul.progress-list li .details-wrapper .description{
	display:block;
	color:#9a9a9a;
	font-size:12px
}
ul.progress-list li .details-status{
	display:inline-block;
	background-color:#e5e9ec;
	color:#5c6370;
	font-size:11px;
	padding:6px;	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
ul.progress-list li  .progress{
	margin-top:10px;
}
.details-status-single{
	display:inline-block;
	background-color:#e5e9ec;
	color:#5c6370;
	font-size:11px;
	padding:6px;	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.info {
    clear: both;
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0px;
    max-width: 100% !important;
}
.info:after, .info:before {
  display: table;
  color: "";
}
.info  .block-title {  
   padding:14px 15px 7px 15px;
   border-bottom: 1px solid #eee;
   color: #282323 !important;
   background-color:#fff;
}
.info .block-body {
  background-color: #fff;
  padding: 17px;
  color:#6f7b8a;  
}
#map { 
    width:100%; 
    height:500px;
   
}
.map-controls {
	position:absolute;
	bottom:-10px;
	left:0px;
	z-index:20;
	width:100%;
	background:#15aa9e;
}
.map-controls  a {
	background:#15aa9e;
	display:inline-block;
	float:left;
	font-size:11px;
	line-height:28px;
	margin-bottom:0px;
	outline:none;
	padding:15px;
	text-decoration:none;
	color:#fff;
}

.map-controls  a:hover {
	background:#118b81;
	color:#fff;
}

.map-controls  .active {
	background:#118b81 !important;
	color:#fff;
}	
.data-zone {
    text-align:center;
}
.data-zone a  {
margin-top: 10px;
margin-bottom: 10px;
}
.data-zone h4 {
display: inline-block;
font-size: 16px;
font-weight: 400;
margin: 0;
padding: 0;
margin-bottom: 7px;
width: 60%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color:transparent !important;

}
.navbar-brand , .navbar-brand:hover,.navbar-brand:focus {
color:#999 !important;
}
.fa-arrows-h{
margin-left: 5px;
margin-right: 5PX;
}
.layout-ar{
direction:rtl;

}
.teaser-value{
    margin-left:10px;
}
.map-legend-new {
position: absolute;
bottom: 60px;
right: 20px;
padding: 10px;
    background-color:white;
}
   .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    }
   .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    }
   .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    }
ul.legend-labels li span {
    display: block;
    float: left;
    height: 18px;
    width: 18px;
    margin-right: 5px;
    margin-left: 0;
    }
.card-text {
font-size: 16px;
}
.cards{
	display:block;
	margin-right: -10px;
}
.cards .cards-title{
	display:block;
	padding:10px;
	padding-bottom:14px;
	background-color:#fff;
	color:#e5e9ec;
	text-align:center;	
	font-weight:bold
}
.cards .cards-title.dark{
	background-color:#1b1e24;
	color:#fff;
}
.cards .cards-title.blue{
	background-color:#0090D9;
	color:#fff;
}
.cards .cards-title.red{
	background-color:#F35958;
	color:#fff;
}
.cards .cards-title.green{
	background-color:#0AA699;
	color:#fff;
}
.cards .cards-title.purple{
	background-color:#736086;
	color:#fff;
}
.cards .cards-body{
	display:block;
	background-color:#fff;
	padding:15px 25px
}
.cards .controller{
  position:relative;
  display:inline-block;
  float:right;
  top: 6px;
  margin-right:8px
}
 
 .cards .controller a{
  	position:relative;
	background: url('../img/icon/portlet-tray.png') no-repeat;
	transition: all 0.1s linear 0s;	
	display:inline-block;
}

.cards .controller  a.remove {
   background-position: -66px -38px;
    height: 10px;
    top: -5px;
    width: 10px;
}

.cards .controller a.config{
    background-position: -3px -32px;
    height: 22px;
    width: 22px;

}

.cards .controller  a.reload{
    background-position: -37px -38px;
    height: 10px;
    top: -5px;
    width: 12px;
}

 .cards .controller a.expand{
	background-position: -123px -11px;
	width: 10px;
	height: 6px;
		top:-5px;
}

.cards .controller  a:hover.collapse{
	background-position: -95px -40px;
    height: 7px;
    top: -5px;
    width: 9px;
	
}
 .cards .controller  a:hover.remove {
    background-position: -66px -9px;
    height: 10px;
    top: -5px;
    width: 10px;
}

 .cards .controller a:hover.config{
    background-position: -3px -32px;
    height: 22px;
    width: 22px;

}

 .cards .controller  a:hover.reload{
	background-position: -38px -9px;
    height: 10px;
    top: -5px;
    width: 12px;
}

.cards .controller a:hover.expand{
	background-position: -123px -11px;
	width: 10px;
	height: 6px;
		top:-5px;
}

.cards .controller  a:hover.collapse{
	background-position: -95px -40px;
    height: 7px;
    top: -5px;
    width: 9px;
}

.cards .cards-title.dark .controller  a.remove {
	background-position: -66px -9px;
    height: 10px;
    top: -5px;
    width: 10px;
}

.cards .cards-title.dark .controller a.config{
    background-position: -3px -32px;
    height: 22px;
    width: 22px;

}

.cards .cards-title.dark .controller  a.reload{
    background-position: -38px -9px;
    height: 10px;
    top: -5px;
    width: 12px;
}
.cards .cards-title.dark .controller  a.reload:hover, .cards .cards-title.dark .controller  a.remove:hover{
	opacity:0.5;
}
.block-title .tools > a {
    display: inline-block;
    margin-left: 5px;
    position:relative;
	background: url('../img/icon/portlet-tray.png') no-repeat;
	transition: all 0.1s linear 0s;
    background-position: -66px -38px;
	width: 10px;
	height: 10px;
	top: -5px;
}
.tools {
    margin-top: 0;
    position: relative;
    display: inline-block;
    float: right;
    margin: 6px 0 0;
    padding: 0;
}

.panel-3d {
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
  position: relative;
  z-index: 900;
  visibility: hidden;
  font-family:'Open Sans';
}
 .panel-3d .front {
  position: relative;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
 .panel-3d .front [class*="icon-"] {
  visibility: hidden;
}
.panel-3d .back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 800;
  width: 100%;
  height: inherit;
  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateY(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
 .panel-3d.animated .front,
 .panel-3d.animated .back {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
 .panel-3d.flip-default {
  z-index: 1000;
}
 .panel-3d.flip-default .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
 .panel-3d.flip-default .back {
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
}
 .panel-3d.panel-flip {
  z-index: 1000;
}
 .panel-3d.panel-flip .front {
  z-index: 900;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}
 .panel-3d.panel-flip .back {
  z-index: 1000;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}
@-moz-keyframes shake {
  0% {
    -moz-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -moz-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -moz-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -moz-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -moz-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -moz-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -moz-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -moz-transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -moz-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -moz-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -moz-transform: translate(1px, -2px) rotate(-1deg);
  }
}
@-ms-keyframes shake {
  0% {
    -ms-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -ms-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -ms-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -ms-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -ms-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -ms-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -ms-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -ms-transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -ms-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -ms-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -ms-transform: translate(1px, -2px) rotate(-1deg);
  }
}
@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(200%) scale(0.5) translateZ(1px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%) scale(1) translateZ(1px);
    opacity: 1;
  }
}
@-moz-keyframes moveFromBottom {
  from {
    -moz-transform: translateY(200%) scale(0.5) translateZ(1px);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0%) scale(1) translateZ(1px);
    opacity: 1;
  }
}
@-ms-keyframes moveFromBottom {
  from {
    -ms-transform: translateY(200%) scale(0.5) translateZ(1px);
    opacity: 0;
  }
  to {
    -ms-transform: translateY(0%) scale(1) translateZ(1px);
    opacity: 1;
  }
}
@-webkit-keyframes moveFromTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-200%) translateZ(1px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%) translateZ(1px);
  }
}
@-moz-keyframes moveFromTop {
  from {
    opacity: 0;
    -moz-transform: translateY(-200%) translateZ(1px);
  }
  to {
    opacity: 1;
    -moz-transform: translateY(0%) translateZ(1px);
  }
}
@-ms-keyframes moveFromTop {
  from {
    opacity: 0;
    -ms-transform: translateY(-200%) translateZ(1px);
  }
  to {
    opacity: 1;
    -ms-transform: translateY(0%) translateZ(1px);
  }
}
@-webkit-keyframes moveFromLeft {
  from {
    -webkit-transform: translateX(-100%) translateZ(1px);
  }
  to {
    -webkit-transform: translateX(0%) translateZ(1px);
  }
}
@-moz-keyframes moveFromLeft {
  from {
    -moz-transform: translateX(-100%) translateZ(1px);
  }
  to {
    -moz-transform: translateX(0%) translateZ(1px);
  }
}
@-ms-keyframes moveFromLeft {
  from {
    -ms-transform: translateX(-100%) translateZ(1px);
  }
  to {
    -ms-transform: translateX(0%) translateZ(1px);
  }
}
@-webkit-keyframes moveFromRight {
  from {
    -webkit-transform: translateX(100%) translateZ(1px);
  }
  to {
    -webkit-transform: translateX(0%) translateZ(1px);
  }
}
@-moz-keyframes moveFromRight {
  from {
    -moz-transform: translateX(100%) translateZ(1px);
  }
  to {
    -moz-transform: translateX(0%) translateZ(1px);
  }
}
@-ms-keyframes moveFromRight {
  from {
    -ms-transform: translateX(100%) translateZ(1px);
  }
  to {
    -ms-transform: translateX(0%) translateZ(1px);
  }
}
@-webkit-keyframes moveFromLeftRotate {
  from {
    -webkit-transform: translateX(-100%) rotate(-90deg) translateZ(1px);
  }
  to {
    -webkit-transform: translateX(0%) rotate(0deg) translateZ(1px);
  }
}
@-moz-keyframes moveFromLeftRotate {
  from {
    -moz-transform: translateX(-100%) rotate(-90deg) translateZ(1px);
  }
  to {
    -moz-transform: translateX(0%) rotate(0deg) translateZ(1px);
  }
}
@-ms-keyframes moveFromLeftRotate {
  from {
    -ms-transform: translateX(-100%) rotate(-90deg) translateZ(1px);
  }
  to {
    -ms-transform: translateX(0%) rotate(0deg) translateZ(1px);
  }
}
@-webkit-keyframes smallToBig {
  from {
    -webkit-transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes smallToBig {
  from {
    -moz-transform: scale(0.1);
  }
  to {
    -moz-transform: scale(1);
  }
}
@-ms-keyframes smallToBig {
  from {
    -ms-transform: scale(0.1);
  }
  to {
    -ms-transform: scale(1);
  }
}
@-webkit-keyframes bigToSmall {
  from {
    -webkit-transform: scale(2);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes bigToSmall {
  from {
    -moz-transform: scale(2);
  }
  to {
    -moz-transform: scale(1);
  }
}
@-ms-keyframes bigToSmall {
  from {
    -ms-transform: scale(2);
  }
  to {
    -ms-transform: scale(1);
  }
}
@-webkit-keyframes moveFromLeftAndGrowAndRotate {
  from {
    -webkit-transform: translateX(-100%) rotate(-90deg) scale(0.1) translateZ(1px);
  }
  to {
    -webkit-transform: translateX(0%) rotate(0deg) scale(1) translateZ(1px);
  }
}
@-moz-keyframes moveFromLeftAndGrowAndRotate {
  from {
    -moz-transform: translateX(-100%) rotate(-90deg) scale(0.1) translateZ(1px);
  }
  to {
    -moz-transform: translateX(0%) rotate(0deg) scale(1) translateZ(1px);
  }
}
@-ms-keyframes moveFromLeftAndGrowAndRotate {
  from {
    -ms-transform: translateX(-100%) rotate(-90deg) scale(0.1) translateZ(1px);
  }
  to {
    -ms-transform: translateX(0%) rotate(0deg) scale(1) translateZ(1px);
  }
}
@-webkit-keyframes moveFromRightAndGrowAndRotate {
  from {
    -webkit-transform: translateX(100%) rotate(90deg) scale(0.1) translateZ(1px);
  }
  to {
    -webkit-transform: translateX(0%) rotate(0deg) scale(1) translateZ(1px);
  }
}
@-moz-keyframes moveFromRightAndGrowAndRotate {
  from {
    -moz-transform: translateX(100%) rotate(90deg) scale(0.1) translateZ(1px);
  }
  to {
    -moz-transform: translateX(0%) rotate(0deg) scale(1) translateZ(1px);
  }
}
@-ms-keyframes moveFromRightAndGrowAndRotate {
  from {
    -ms-transform: translateX(100%) rotate(90deg) scale(0.1) translateZ(1px);
  }
  to {
    -ms-transform: translateX(0%) rotate(0deg) scale(1) translateZ(1px);
  }
}
.slider-desc {
    font-size: 32px;
    font-weight: 400;
    height: 108px;
    line-height: 40px !important;
    color:#000;
    font-weight: bold;

   
   
}
.slider-title {
    font-size: 48px;
    line-height: 48px;
    font-weight: 300;
    color:#FFFFFF;
    font-weight: bold;

}
.slider-credit {
position: fixed;
bottom: 20px;
right: 20px;
}
.overflow-x{
  overflow-x:scroll;
}
.chart-container {
    min-height:300px;
     overflow:visible;
    }

.value {
position: relative;
left: -12px;
top: 55px;
}
.value h3 {
    
    color:#6f7b8a !important;
    
    
    
    }   
.easy-chart{
     text-align:center;
     width:180px;
    height:180px
    
    }
.l-10{
 
margin-left: 10%;
}
    
 .text-center {
    text-align:center;

}     
.easy-chart canvas{
position: absolute;
top: 0;
left: 0;
} 
.morris-hover {
z-index: 2;
}
.innerAll{
    
padding:15px;    
    } 
.full-band{
 width:100% !important;    
    }  